[workspace]
members = [
	"dataplane/api-server",
	"dataplane/common",
	"dataplane/loader",
	"tools/udp-test-server",
	"xtask",
]
exclude = ["dataplane/ebpf"]

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/kubernetes-sigs/blixt"
version = "0.3.0"

[workspace.dependencies]
anyhow = { version = "1", default-features = false }
api-server = { version = "0.3.0", path = "./dataplane/api-server" }
aya = { version = "0.12.0", default-features = false }
aya-ebpf = { git = "https://github.com/aya-rs/aya", default-features = false }
aya-log = { version = "0.2.0", default-features = false }
aya-log-ebpf = { git = "https://github.com/aya-rs/aya", default-features = false }
clap = { version = "4.4", default-features = true }
common = { version = "0.3.0", path = "./dataplane/common" }
env_logger = { version = "0.11", default-features = false }
libc = { version = "0.2", default-features = false }
loader = { version = "0.3.0", path = "./dataplane/loader" }
log = { version = "0.4", default-features = false }
memoffset = { version = "0.9", default-features = false }
network-types = { version = "0.0.5", default-features = false }
prost = { version = "0.12.4", default-features = false }
regex = { version = "1", default-features = true }
tokio = { version = "1.32.0", default-features = false }
tonic = { version = "0.11.0", default-features = false }
tonic-build = { version = "0.11.0", default-features = false }
tonic-health = { version = "0.11.0", default-features = false }
udp-test-server = { version = "0.3.0", path = "./tools/udp-test-server" }
xtask = { version = "0.3.0", path = "./dataplane/xtask" }
