apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controlplane
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controlplane
  namespace: system
  labels:
    control-plane: controlplane
spec:
  selector:
    matchLabels:
      control-plane: controlplane
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controlplane
    spec:
      securityContext:
        runAsNonRoot: true
        # TODO(user): For common cases that do not require escalating privileges
        # it is recommended to ensure that all your Pods/Containers are restrictive.
        # More info: https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted
        # Please uncomment the following code if your project does NOT have to work on old Kubernetes
        # versions < 1.19 or on vendors versions which do NOT support this field by default (i.e. Openshift < 4.11 ).
        # seccompProfile:
        #   type: RuntimeDefault
      containers:
      - command:
        - /controller
        args:
        - --leader-elect
        env:
          - name: RUST_LOG
            value: "controlplane=trace"
          - name: RUST_BACKTRACE
            value: "1"
        image: ghcr.io/kubernetes-sigs/blixt-controlplane:latest
        imagePullPolicy: IfNotPresent
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          grpc:
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          grpc:
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      serviceAccountName: controlplane
      terminationGracePeriodSeconds: 10
