---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blixt-tcproute-sample
  labels:
    app: blixt-tcproute-sample
spec:
  selector:
    matchLabels:
      app: blixt-tcproute-sample
  template:
    metadata:
      labels:
        app: blixt-tcproute-sample
    spec:
      containers:
      - name: server
        image: ghcr.io/shaneutt/malutki
        imagePullPolicy: IfNotPresent
        env:
        - name: LISTEN_PORT
          value: "8080"
        ports:
        - containerPort: 8080
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: blixt-tcproute-sample
  name: blixt-tcproute-sample
spec:
  ports:
  - name: tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: blixt-tcproute-sample
  type: ClusterIP
---
apiVersion: v1
kind: Namespace
metadata:
  name: gwapi-ref-ns
