[package]
name = "api-server"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
prost = "0.12.4"
tonic = "0.11.0"
tonic-health = "0.11.0"
anyhow = "1"
log = "0.4"
aya = { version = "0.12.0", features=["async_tokio"] }
tokio = { version = "1.32", features = ["macros", "rt", "rt-multi-thread", "net", "signal"] }
common = { path = "../common", features=["user"] }
regex = "1"
libc = "0.2"
