[package]
name = "loader"
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[[bin]]
name = "loader"
path = "src/main.rs"

[dependencies]
aya = { version = "0.13.1" , features=["async_tokio"] }
aya-log = { version = "0.2.1" }
anyhow = { workspace = true }
api-server = { path = "../api-server" }
common = { path = "../common", features = ["user"] }
clap = { workspace = true, features = ["derive"] }
env_logger = { workspace = true }
log = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt", "rt-multi-thread", "net", "signal"] }
