name: tests

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
    tags:
      - '*'
  workflow_dispatch: {}

jobs:
  dataplane-tests:
    runs-on: ubuntu-latest
    steps:
      - name: setup golang
        uses: actions/setup-go@v3
        with:
          go-version: '^1.19'

      - name: cache go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-build-codegen-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-build-codegen-

      - name: cache image builds
        uses: actions/cache@v3
        with:
          path: /var/lib/docker/
          key: ${{ runner.os }}-build-image-cache
          restore-keys: |
            ${{ runner.os }}-build-image-cache-

      - name: checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build Cluster
        run: make build.cluster

      - name: Build Dataplane Image
        run: make build.image.dataplane TAG=integration-tests

      - name: Load Dataplane Image
        run: make load.image.dataplane

      - name: Generate Self-Signed Certs
        run: make test.gencert

      - name: Load Dataplane into Cluster
        run: kubectl apply -k config/tests/auth

      - name: Waiting for dataplane to be ready
        run: kubectl -n system wait --for=condition=Ready pod -l app=blixt,component=dataplane --timeout=120s

      - name: Forward gRPC Port
        run: kubectl -n blixt-system port-forward ds/dataplane 9874

      - name: Dataplane Integration Tests
        run: make test.dataplane.integration

      ## Upload diagnostics if integration test step failed.
      - name: upload diagnostics
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: blixt-integration-test-diag
          path: /tmp/ktf-diag*
          if-no-files-found: ignore

